div {
  font-family: "Press Start 2P";
  display: block;
  font-size: 20px;
  padding: 15px; }

#spaceBackground {
  position: fixed;
  top: 0px;
  left: -5px;
  z-index: -1; }

div {
  background-color: yellow; }

#sidebar {
  width: 37%;
  height: 100%;
  background-color: hotpink;
  position: absolute;
  right: -10px;
  top: 0px; }

#dolphinLogo {
  width: 85%;
  padding: 15px; }

#instructions, #theStory {
  font-family: 'VT323';
  font-size: 20px;
  color: white;
  padding: 15px; }

#theStory {
  background-color: black;
  color: skyblue; }

footer {
  padding: 15px; }
